/*------------------------------------*\
    #PX-META-LISTS-DESIGN
\*------------------------------------*/

@import "../px-list-bare-design/objects.list-bare";
@import "../px-list-buttons-design/objects.list-buttons";

$inuit-enable-list-inline--delimited    : true;

@import "../px-list-inline-design/objects.list-inline";

$inuit-enable-list-ui--tiny             : true;
$inuit-enable-list-ui--small            : true;
$inuit-enable-list-ui--large            : true;
$inuit-enable-list-ui--huge             : true;

@import "../px-list-ui-design/objects.list-ui";