/*------------------------------------*\
    #PX-META-LISTS-DESIGN
\*------------------------------------*/

@import "px-list-bare-design/_objects.list-bare.scss";

$inuit-enable-list-inline--delimited    : true;

@import "px-list-inline-design/_objects.list-inline.scss";

$inuit-enable-list-ui--tiny             : true;
$inuit-enable-list-ui--small            : true;
$inuit-enable-list-ui--large            : true;
$inuit-enable-list-ui--huge             : true;

@import "px-list-ui-design/_objects.list-ui.scss";